div.container-fluid{
    margin: 0 auto;
    
   /* background: linear-gradient(to bottom,  50%, #e6e6e6 50%, #e6e6e6 100%);
    background: linear-gradient(to bottom, rgb(86, 10, 226), rgb(0, 225, 255), rgb(204, 204, 255));*/
    background-image:url('https://cdn.hipwallpaper.com/i/48/96/xepk6D.jpg');
}
.a{
    color: red;
}
div.col-md-6{
    border-radius: 3%;
}
img{
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h4{
    color: #000066;
}
input.c{
    color: #000066;
}